{% extends "GovUKFTBundle:Default:layout.html.twig" %}


{# NB: blocks that can be overridden: title, sb (sidebar), bc (breadcrumb) #}



{% block content %}
<div class="intro">
    {# required to be 'raw' as it will have some simple HTML markup #}
    {{ 'page.start.intro'|trans|raw }}
    {# Could also do something with GDSMarkdown format ? #}

{% if app.environment == 'dev' %}
    <h1>you are running in the DEV environment</h1>
    <p>This page would (according to the GDS guidlines), auto-redirect (on a 301), to <a href="https://www.gov.uk/report-a-lost-or-stolen-passport">https://www.gov.uk/report-a-lost-or-stolen-passport</a>.</p>

    <p>this [dev] block is not translated. The rest is in src/Hmpo/Bundle/Lso1Bundle/Resources/translations/messages.en.yml</p>
{% endif %}

<p class="get-started">
  <a id="startForm" rel="nofollow" href="" class="big button">{{ 'page.start.Startnow'|trans }}</a>
</p>
</div>
<pre>
</pre>

{% endblock %}
